// 隐藏reco github的地址
.hero img{
  border-radius: 1rem;
}
.reco-theme {
  display: none;
}
.theme-container .navbar .logo {
    border-radius: 0.5rem;
}
.reco-theme + a {
  display: none;
}

.content__default:not(.custom) {
  max-width: none !important;
  margin: 0 auto;
  padding initial !important;
  padding-right: 10px !important;
}

.page .page-title {
  max-width: none !important;
  margin: 0 auto;
  padding: 1rem 0 !important;
}

main {
  transform none !important;
}

.page {
  padding-left: 10px;

}
/*表格*/
table {
  overflow-x: auto;
}
th {
  text-align: center;
}
td {
  min-width: 100px;
text-align: center;
}
@media (max-width: 1200px) {
  .side-bar {
    display none;
  }
}
